Package: jp.ashikase.showcase
Name: ShowCase
Version: 1.1.1
Architecture: iphoneos-arm
Description: Make keyboard show current case.
Homepage: http://github/ashikase/ShowCase/
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=showcaseData
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Lance Fetters (ashikase) <gaizin@gmail.com>
Section: Tweaks
Depends: mobilesubstrate
dev: ashikase
Sponsor: thebigboss.org <http://thebigboss.org>
